<h1>
  <%= @restaurant.name %>
</h1>
<p>
  Category: <%= @restaurant.category %>
</p>
<p>
  Address: <%= @restaurant.address %>
</p>
<p>
  Tel No: <%= @restaurant.phone_number %>
</p>
<%= link_to "Back to Restaurants", restaurants_path %>
